*, *::before, *::after {
  box-sizing: border-box;
  
}


body {
  font-family: "IBM Plex Mono", monospace;
  margin: 0;
  background-color: #000000;
  color: antiquewhite;
}

html, body {
  height: 100%;
  margin: 0;
}

.page-container {
  min-height: 100vh; /* fill full viewport */
  display: flex;
  flex-direction: column;
}
